body {
    background: #ffcc00;
}

.car {
    display: flex;

    > div {
        flex: 1;
        background: #00a499;
        transition: all 0.5s;

        &:hover {
            background: darken(#00a499, 10);
        }

        &.zoom {
            font-size: 30px;
        }
    }
}
